@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
}

body {
    background-color: #F2F2F2;
    color: #222222;
}

.menuTranslate {
    transform: translateX(-120%);
}

.menuTranslate.show {
    transform: translateX(0);
}